html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html #override,
body #override {
  background-image: url("../create.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#logo {
  width: 8%;
  height: 8%;
}

.wrapper {
  margin-bottom: 0;
}

.wrapper .div-navbar-left,
.wrapper .div-navbar-right {
  text-align: center;
}

.logo {
  display: inline-block;
}

.logo #logo {
  width: 70%;
}

#nav-ul {
  display: inline-block;
  padding: 0;
}

.nav-li {
  display: inline-block;
  list-style: none;
  padding: 1em;
}

.nav-li #contact-button {
  background-color: lightcoral;
  padding: 1em;
  border: 2px solid lightcoral;
}

.nav-li #contact-button:hover {
  background-color: transparent;
  border: 2px solid lightcoral;
}

.nav-li .nav-li-a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-li .nav-li-a:hover {
  color: lightcoral;
}

.jumbotron {
  background-color: transparent;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.headline1,
.headline2 {
  color: #fff;
  text-align: center;
  font-size: 300px;
}
