$primary-color: #000;
$primary-inverse: #fffaf0;
$default-size: 16px;
$fontstack: 'helvetica', sans-serif;

html,
body {
  font-size: $default-size;
  margin: 0;
  padding: 0;

#override {
  background-color: #EFF6F7;
}
}
//---------------------------------------------------------------------------------------------------------------------------//
#logo {
  width: 8%;
  height: 8%;
}

.wrapper {
  display: flex;
  margin-top: .5em;
}
.div-navbar-left{
  flex: 1;
  margin: auto;
}

.div-navbar-right{
  margin: auto
}

#nav-ul{
  display: inline;
  
  
}
  .nav-li{
    display: inline-block;
    list-style: none;
    padding: 1em;
    


    .nav-li-a{
      text-decoration: none;
      color: black;
      &:hover{
        border-bottom: 2px solid black; 
      }
    }
  }


  // begin main content of home

  .headline1 {
    background-color: darkslateblue;
    color: white;
    width: 15%;
  }
 
  .headline2{
    background-color: darkslateblue;
    color: white;
    width: 37%;
  }

  .headline3{
    background-color: darkslateblue;
    color: white;
    width: 8%;
  }


// begin competencies section
  .center-head{
    text-align: center;
  }