$primary-color: #000;
$secondcolor: lightcoral;
$primary-inverse: #fffaf0;
$default-size: 16px;
$fontstack: 'helvetica', sans-serif;

html,
body {
  font-size: $default-size;
  margin: 0;
  padding: 0;

#override {
  background-image: url("../create.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
}
//---------------------------------------------------------------------------------------------------------------------------//
#logo {
  width: 8%;
  height: 8%;
}

.wrapper {
  margin-bottom: 0;

  .div-navbar-left,
  .div-navbar-right{
    text-align: center;
  }

 
}


.logo {
  display: inline-block;

  #logo{
    width:70%;
  }
}

#nav-ul{
  display: inline-block;
  padding: 0;
  
  
}
  .nav-li{
    display: inline-block;
    list-style: none;
    padding: 1em;
    #contact-button{
      background-color: $secondcolor;
      padding:1em;
      border: 2px solid $secondcolor;
      &:hover{
        background-color: transparent;
        border: 2px solid $secondcolor;
      }
    }
    .nav-li-a{
      text-decoration: none;
      color: #fff;
      font-weight:bold;
      &:hover{
        color:$secondcolor; 
      }
    }
  }

  // begin main content of home
.jumbotron{
  background-color: transparent;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}
  .headline1,
  .headline2 {
    color: #fff;
    text-align: center;
  }
 
  

