$primary-color: #000;
$primary-inverse: #fffaf0;
$second-color: #333;
$primary-border: solid 4px $primary-color;
$default-size: 16px;

html,
body {
  font-size: $default-size;
  margin: 0;
  padding: 0;

}
//---------------------------------------------------------------------------------------------------------------------------//
#override {
  background-image: url('https://static.pexels.com/photos/28786/pexels-photo-28786.jpg');
  background-size: cover;
}

.dv-logo {

  display: inline-block;
  margin: 20px;

}

.logo {
  border: $primary-border;
  padding: 5px;
  width: 80%;
}

.dv-navbar {
  display: inline-block;
  margin: auto 0 auto auto;

}

.u-nav {
  margin: 0;
  padding: 0;
}

.l-nav {
  display: inline-block;
  font-size: 20px;
  padding: 10px;

}

.dv-nav {
  display: flex;
}

.a-nav {
  color: $primary-color;
  font-size: $default-size;
  font-weight: bold;

  &:hover {
    border-bottom: 3px solid $second-color;
    color: $second-color;
    text-decoration: none;
  }

}

.contact {
  border: 2px solid;
  padding: 10px;

  &:hover {
    background-color: $second-color;
    border: $primary-border;
    color: $primary-inverse;
    text-decoration: none;
    }
}

.main-content {
  display: flex;
  height: 60vh;
}

.cntr-piece {
//  border: 5px solid;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  margin: auto;
  padding: 15px;
}
